{% extends 'base.html.twig' %}

{% block title %}Liste des état des factures.{% endblock %}

{% block body %}
    <h1>Liste des état des factures.{{mon_nom}}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for line_status in line_statuses %}
            <tr>
                <td>{{ line_status.id }}</td>
                <td>{{ line_status.wording }}</td>
                <td>
                    <a href="{{ path('line_status_show', {'id': line_status.id}) }}">Voir</a>
                    <a href="{{ path('line_status_edit', {'id': line_status.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('line_status_new') }}">Create new</a>
{% endblock %}
