{% extends 'base.html.twig' %}

{% block title %}LineStatus{% endblock %}

{% block body %}
    <h1>LineStatus</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ line_status.id }}</td>
            </tr>
            <tr>
                <th>Wording</th>
                <td>{{ line_status.wording }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('line_status_index') }}">back to list</a>

    <a href="{{ path('line_status_edit', {'id': line_status.id}) }}">edit</a>

    {{ include('line_status/_delete_form.html.twig') }}
{% endblock %}
