{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Message</h1>

    <table class="table table-hover table-sm table-light shadow-lg display" id="table">
        <thead class="thead-light">
            <tr>
                <th>Etat</th>
                <th>Archives</th>
                <th>De :</th>
                <th>Pour :</th>
                <th>Objet</th>
                <th>Message</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                
                <td>{{ message.etat ? 'Yes' : 'No' }}</td>
                <td>{{ message.archive ? 'Yes' : 'No' }}</td>
                <td>{{ message.utilisateurExpediteurMessagerie.nom }}</td>
                <td>{{ message.utilisateurDestinataireMessagerie.nom }} {{ message.utilisateurDestinataireMessagerie.prenom }}</td>
                <td>{{ message.objet }}</td>
                <td>{{ message.message }}</td>
                <td><span hidden>{{ message.dateMessageMessagerie|date('Y-m-d H:i:s')}}</span> {{ message.dateMessageMessagerie ? message.dateMessageMessagerie|date('d-m-Y H:i') : '' }}</td>
                <td>
                    <a href="{{ path('message_show', {'id': message.id}) }}">voir</a>
                    <a href="{{ path('message_edit', {'id': message.id}) }}">modification</a>
                </td>
            </tr>

        {% else %}
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('message_new') }}">Créer un nouveau message</a>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
        $(document).ready(function () {
            $('table.display').DataTable({
                destroy: true,
                "order": [6, "desc"],
                "language": {
                    "lengthMenu": "Voir _MENU_ message par page",
                    "zeroRecords": "Aucun message trouvé",
                    "info": "Page_PAGE_ sur _PAGES_",
                    "infoEmpty": "0 trouvé sur _MAX_ au total",
                    "infoFiltered": "trouvé sur _MAX_ au total)",
                    "search": "Recherche",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "Précédent"
                    }
                }
            })
        });
</script>
{% endblock %}
